{% extends "dataset/base.html" %}

{% block content %}

<h2 class="ui header">Model metadata</h2>
  {% if model %}
    <h3 class="ui header">{{ model.name }}</h3>

    {% if model %}
      {% for tag in tags %}
        <a class="ui blue label">{{ tag.name }}</a>
      {% endfor %}
    {% endif %}

    <div class="ui basic segment"></div>
    <h5 class="ui header">Description</h5>
    {{ model.description }}
  
    {% for version in versions %}
    <div class="ui basic segment"></div>
    <h5 class="ui header">List of Versions using this model</h5>
    <div class="ui list">
      <a class="item" href="/artifacts/model/versions/{{ version.id }}/"><i class="archive icon"></i>{{ version.id }}</a>
    </div>
    {% endfor %}
  {% endif %}

{% endblock %}
