{% extends "dataset/base.html" %}

{% block content %}
  <div class="ui container">
    <form class="ui form" action="/artifacts/model/" method="post">
      {% csrf_token %}
      <div class="field">
          <input type="text" name="query" id="query" placeholder="Search model data">
      </div>
      <button class="ui blue right floated button" type="submit">Search</button>
    </form>
  </div>
  <div class="ui basic segment"></div>
  <div class="ui container">
    {% if models %}
      {% for model in models %}
        <div class="ui card">
          <div class="content">
            <div class="header">Model: {{ model.name }}</div>
            <div class="meta">
              <span><a href="/artifacts/model/{{ model.id }}/">Details</a></span>
            </div>
            <p></p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}
