<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dataset Version Details Page</title>
  </head>
  <body>
    {% if model_version %}
        <ul>
            <li>{{ model_version.id }}</a></li>
            <li>{{ model_version.url }}</a></li>
            <li><a href="/artifacts/dataset/{{ model_version.ml_model }}/">{{ model_version.ml_model }}</a></li>
            <li><a href="/artifacts/dataset/versions/{{ model_version.ml_dataset_version }}/">{{ model_version.ml_dataset_version }}</a></li>
        </ul>
    {% endif %}
    <a href="/artifacts/model/">Back to home!</a>
  </body>
</html>
