{% extends "dataset/base.html" %}

{% block content %}
  <h2 class="ui header">Model Version Details Page</h2>
    {% if model_version %}
      <h4 class="ui header">UUID: {{ model_version.id }}</h4>

      <div>Model version URL: <a href="{{ model_version.url }}">{{ model_version.url }}</a></div>
      <div>Model Info: <a href="/artifacts/dataset/{{ model_version.ml_model }}/">{{ model_version.ml_model }}</a></div>

      <h5>List of Dataset Versions using this model version:</h5>
        <div class="ui list">
          <a class="item" href="/artifacts/dataset/versions/{{ model_version.ml_dataset_version }}/">{{ model_version.ml_dataset_version }}</a>
        </div>
    {% endif %}

{% endblock %}
